@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
@font-face {
    font-family: "bitter-rose";
    src: url("../public/fonts/bitter-rose.otf");
  }

@font-face {
    font-family: "chillax";
    src: url("../public/fonts/Chillax-Medium.otf");
}